*__pycache__*
*.pyc
*~

vex_files/*
/#*
docs/_build/*
docs/build/
local/*
*test*
imagingChallenge*
tmp/*
*.uvfits
*.fits
ehtim.egg-info/*
dist/*

build/*
data/3C279JUN16.UVP
data/OJ287AUG10B.UVP

# Unit tests should be included
!ehtim/tests/
!ehtim/tests/test_*.py
