Andrew Chael <achael@princeton.edu> <achael@outlook.com>

Michael Johnson <mjohnson@cfa.harvard.edu> <michaeltdh@gmail.com>

Katie Bouman <klbouman@caltech.edu>

Lindy Blackburn <lblackburn@cfa.harvard.edu> <lindylam@gmail.com>

CK Chan <chanc@arizona.edu> <chanchikwan@gmail.com>
