<achael@cfa.harvard.edu> <achael@outlook.com>

Michael Johnson <mjohnson@cfa.harvard.edu> michaeldjohnson <michaeltdh@gmail.com>

Katie Bouman <klbouman@mit.edu> <klbouman@Katherines-MacBook-Pro-3.local>
<klbouman@mit.edu> <klbouman@30-103-240.dynamic.csail.mit.edu>
<klbouman@mit.edu> <klbouman@30-103-205.dynamic.csail.mit.edu>
<klbouman@mit.edu> <klbouman@30-103-52.dynamic.csail.mit.edu>
<klbouman@mit.edu> <klbouman@30-103-187.dynamic.csail.mit.edu>
<klbouman@mit.edu> <klbouman@visiongpu06.csail.mit.edu>

<lblackburn@cfa.harvard.edu> <lindylam@gmail.com>

Hotaka Shiokawa <hshiokawa@cfa.harvard.edu> <hotaka84@gmail.com>

<ckchan@cfa.harvard.edu> <chanc@email.arizona.edu>
<ckchan@cfa.harvard.edu> <chanchikwan@gmail.com>
