astropy
ephem
future
h5py
html; python_version < '3.1'
ipython
matplotlib
networkx
numpy
pandas
requests
scipy
scikit-image

# pyfits is now included in astropy.
#pyfits

# pynfft requires external dependency; install with Conda.
#pynfft
