astropy
skyfield
future
h5py
html; python_version < '3.1'
ipython
matplotlib
networkx
numpy
pandas < '2'
paramsurvey[ray]
requests
scipy
scikit-image


# pynfft requires external dependency; install with Conda.
#pynfft
